<div  class="subject">
  <p>
    <%= fa_icon("user-secret") %><%= @user.name %>さんの投稿一覧
  </p>
</div>
<div class="posts">
  <% if @posts.present? %>
    <% @posts.each do |post| %>  
      <%= render partial: "/posts/post",locals:{ post: post} %>
    <% end %>
    <%= paginate @posts %>
  <% else %>
    <div class="message">
      <p>まだ投稿がありません</p>
    </div> 
  <% end %>
</div>