<div  class="subject">
  <p>
  <%= fa_icon("bars") %>
  <%= @current_category %>
  </p>
 </div> 
<div class="posts">
  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <div class="message">
      <p>まだ投稿がありません</p>
    </div> 
  <% end %>
</div>
 
