<div class="contents clearfix">

  <div class="contents__left">
    <%= render partial: "/categories",locals:{ categories: @categories } %>
  </div>

  <div class="contents__center">
    <div class="posts">
      <%= render @posts %>
    </div>
  </div>

  <div class="contents__right">
    <%= render partial: "/user" %>
    <div class="news">
    </div>
  </div>

</div>

