<div class="posts">
  <div class="post post--show">
    <%= render partial: "/post-main",locals:{ post: @post} %>
  </div>
  <div class="post__bottom">     
    <%= sanitize markdown(@post.body) %>
  </div>
</div>
