.categories{
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),10px);
  @include ele-size(90%,);
  margin: 30px auto;
  padding-bottom:15px;
  background-color: $mainBlueColor;
  color: aliceblue;
  .category{
    @include border-info((1px solid rgb(214, 212, 212)),(4px 4px 4px gray),);
    @include ele-size(90%,);
    margin:10px;
    padding-left: 10px; 
    background-color: white;
    &:hover{
      background-color:$hoverGreenColor;
      @include ele-size(100%,50px);
      line-height: 50px;
    }
  }
  
}
.message{
  text-align: center;
  font-size: 30px;
  margin: 100px auto;
}