body,html{
  height: 100%;
  background-color: rgb(240, 238, 238);
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.subject{
  & p{
    font-size: 30px;
    padding-left:10px;
    background-color: $mainBlueColor;
    color:  white;
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),2px);
  } 
  & .fas{
    font-size:30px;
  }
}
.fas{
  font-size:20px;
}
.theme__logo{
  margin-right: 10px;
}
a{
  // color: $borderGrayColor;
  &:hover{
    color: #039be5;
  }

}

.theme{
  @include ele-size(100%,300px);
  background: url(bg.jpg), linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
  opacity: 0.5;
  animation: huerotator 10s infinite alternate;
  text-align: center;
  line-height: 100px;
  font-size: 60px;
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;  
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed; 
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  font-family: 'Press Start 2P', cursive;

  // font-family: 'Barriecito', cursive;
  & p{
    color: black;
  }
  &__logo{
    display: inline;
    border-radius: 10px;
    @include ele-size(60px,60px);
  }
}
@keyframes huerotator {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
div.stage{
  position: relative;
  top:50px;
  -webkit-perspective: 500;
  div.cube{
      @include ele-size(100px,100px);
      position: relative;
      margin: 0 auto;
      -webkit-transform-style:preserve-3d;
      -webkit-transition:all 1s;
      animation: cuberotator 180s infinite alternate;
      div{
          @include ele-size(100px,100px);
          border: 1px solid $borderGrayColor;
          box-sizing: border-box;
          text-align: center;
          line-height: 100px;
          position: absolute;
          background-color: rgba(175, 247, 213, 0.5);
          font-size: 10px;
          overflow: hidden;
      }
      div.front{
          top: 0;
          left: 0;
          -webkit-transform: translateZ(50px);
      }
      div.back{
          top: 0;
          left: 0;
          -webkit-transform: translateZ(-50px) rotateY(180deg);
      }
      div.left{
          top: 0;
          left: 50px;
          -webkit-transform:rotateY(90deg);
      }
      div.right{
          top: 0;
          right: 50px;
          -webkit-transform:rotateY(-90deg);
      }
      div.top{
          top: 50px;
          left: 0;
          -webkit-transform:rotateX(90deg) rotateY(180deg);
      }
      div.bottom{
          bottom: 50px;
          left: 0;
          -webkit-transform:rotateX(-90deg) rotateY(180deg);
      }
  }
}
@keyframes cuberotator {
  0% {
    -webkit-transform: rotateX(-30deg) rotateY(-30deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

.contents{
  width: 100%;
  &__left{
    float: left;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
  
  &__center{
    margin: 10px 0;
    
    
    float: left;

    width: 60%;
  }
  
  &__right{
    float: left;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
}
.main-contents{
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
  background-color:  white;
  min-height: 300px;
  width: 100%;

}