select {
    font-size: 15px;
    display:inline-block;
    width: 45%;
    margin: 10px;
}

.form_box,.new_user{
  padding: 20px;
  &__title{
  }
  &__body{
    min-height: 600px;
  }
  &__submit{
    margin:20px auto;
    display: block;
  }
  &__input{
    display: block;
    margin: 10px auto;
  }
}