select {
    font-size: 15px;
    display:inline-block;
    width: 50%;
}
.form_box,.new_user{
  padding: 20px;
  &__title{
  }
  &__body{
    min-height: 600px;
  }
  &__submit{
    margin:20px auto;
    display: block;
  }
}