.posts{
  @include ele-size(100%,100%);
  .post{
    margin: 30px auto;
    @include ele-size(90%,200px);
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),);
    &__left{
      @include ele-size(120px,100%);
      display: inline-block;
      text-align: center;
      @include border-info((1px solid $borderGrayColor),(2px 2px 2px gray),);
      float: left;
      background-color: $mainBlueColor;
      color: aliceblue;
      &__avater{
        margin: 10px auto;
        @include ele-size(100px,100px);
        color: $borderGrayColor;
        line-height: 100px;
        @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),75px);
        background-color: white;
        &__image{
          @include ele-size(100px,100px);
          border-radius: 75px;
          opacity: 0.9;
        }
      }
      &__name{
        height: calc(100% - 120px);
        line-height: calc(100% - 120px);
        p {
          margin:40px auto 0;
        }
      }
    }
    &__right{
      display: inline-block;
      @include ele-size(calc(100% - 120px),100%);
      float: left;
      color:$borderGrayColor;
      &__title{
        height: 15%;
        @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
      }
      &__content{
        height: 70%;
        @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
        overflow: hidden;
      }
      &__info{
        height: 15%;
        @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
      }
    }
  }
}
.post-opacity{
  &:hover{
    opacity: 0.5;
  }
}