.posts{
  @include ele-size(100%,100%);
  .fa{
    font-size: 20px;
  }
  .post{
    margin: 30px auto;
    @include ele-size(90%,120px);
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),);
    &__left{
      @include ele-size(120px,100%);
      display: inline-block;
      text-align: center;
      // @include border-info((1px solid $borderGrayColor),(2px 2px 2px gray),);
      float: left;
      background-color: $mainBlueColor;
      color: aliceblue;
      &__avater{
        margin: 10px auto;
        @include ele-size(100px,100px);
        color: $borderGrayColor;
        line-height: 100px;
        @include border-info((1px solid $borderGrayColor),(2px 2px 2px gray),75px);
        background-color: white;
        &__image{
          @include ele-size(100px,100px);
          border-radius: 75px;
          opacity: 0.9;
        }
      }
    }
    &__right{
      display: inline-block;
      @include ele-size(calc(100% - 120px),100%);
      float: left;
      color:$borderGrayColor;
      &__title{
        word-wrap: break-word;
        height: 70%;
        padding: 10px;
        @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
      }
      &__info{
        height: 30%;
        padding: 5px 10px;
        @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
        &__time{
          display: inline-block;
          
        }
        &__name{
          display: inline-block;
          padding: 0 10px;
        }
        &__status{
          text-align: center;
          display: inline-block;
          float: right;
          padding:0 10px; 
          width: 70px;
          color: white;
          @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),);
          opacity: 0.8;
        }
      }
    }
    &--show{
      margin-bottom: 0;
    }
    &--open{
      background-color: #e4486a;

    }
    &--closed{
      background-color: #48e45d;
    }
    &__bottom{
      word-wrap: break-word;
      @include ele-size(90%,);
      margin: 0 auto 30px;
      padding: 10px;
      min-height: 300px;
      // color:$borderGrayC olor;
      background-color: white;
      @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),);
      &__images{
        display: flex;
        flex-wrap: wrap;
        &__image{
          margin: 30px;
        }
      }
    }
  }
}
.post-opacity{
  &:hover{
    opacity: 0.5;
  }
}
nav {
  margin: 30px auto;
  color: #fff;
  background-color: #039be5;
  width: 70%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
}