.fa{
  font-size: 30px ;
}
.user{
  width: 90%;
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),10px);
  margin: 30px auto;
  text-align: center;
  background-color: $mainBlueColor;
  color: aliceblue;
  &__avater{
    margin: 10px auto;
    @include ele-size(150px,150px);
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),75px);
    color: $borderGrayColor;
    line-height: 150px;
    background-color: white;
    &__image{
      @include ele-size(150px,150px);
      border-radius: 75px;
      opacity: 0.9;
    }
  }
  &__log{
    padding: 15px 0;
    &__bottun{
      display:inline-block;
      width: 40%;
      @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
      background-color: white;
      &:hover{
        background-color:$hoverGreenColor;
        @include ele-size(50%,30px);
        line-height: 30px;
      }
    }
  }
}