.fa{
  font-size: 30px ;
}
.user-toggle{
  // visibility: hidden;
}
.user{
  // opacity: 0;

  width: 90%;
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),10px);
  margin: 10px auto;
  text-align: center;
  background-color: $mainBlueColor;
  color: white;
  &__avater{
    visibility: visible;
    // opacity: 0.9;
    margin: 10px auto;
    @include ele-size(150px,150px);
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),75px);
    color: $borderGrayColor;
    line-height: 150px;
    // background-color: rgba(255, 255, 255,1.0);
    background-color: white;
    &__image{
      @include ele-size(150px,150px);
      border-radius: 75px;
      opacity: 0.9;
    }
  }
  &__log{
    padding: 15px 0;
    &__bottun{
      display:inline-block;
      width: 40%;
      @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
      background-color: white;
      &:hover{
        background-color:$hoverGreenColor;
        @include ele-size(50%,30px);
        line-height: 30px;
      }
    }
  }
}
.user-list{
  @include ele-size(65%,55px);
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),10px);
  margin: 10px auto;
  text-align: center;
  background-color: $mainBlueColor;
  & p{
    @include border-info((2px solid $borderGrayColor),(2px 2px 2px gray),10px);
    margin:5px auto;
    background-color: white;
    display: inline-block;
    padding: 5px 20px;
    &:hover{
      background-color:$hoverGreenColor;
    }
  }
}
.all-user{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  &__person{
    @include ele-size(160px,180px);
    @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
    display: inline-block;
    margin: 25px;
    text-align: center;
    padding: 10px 5px;
    &__bottom{
      margin-top:10px;
    }
    &:hover{
      opacity: 0.8;
    }
    &__up{
      &__image{
        line-height: 100px;
        margin: 0 auto;
        display: block;
        @include ele-size(100px,100px);
        @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),75px);
        opacity: 0.9;  
        color: gray;      
      }

    }
  }
}
.user-ranking-button{
  text-align: center;
  margin: 10px auto 0;
  // padding:10px;
  color: #ffc402;

  // background-color: $mainBlueColor;
  & .fas{
    // background-color: $mainBlueColor;
    cursor: pointer;
    font-size: 2.5vw;
    // @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),100px);

  }
  & :hover{
    color:$hoverGreenColor;
    opacity: 0.8;

  }


}


.user-show{
  margin:30px auto;
  min-height: 0;
  width:95%;
  @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),5px);
}
.user-page{
  background-color: white;
  @include border-info((none),(none),0px);
  color: black;
}
.show-search-submit{
  display:block;
  margin: 10px auto;
}

.show-search-select{
  display:block;
  margin: 10px 30px;
}
// .ranking-title{
//   text-align: center;
//   color: aliceblue;

// }
.user-ranking{
  // display: none;
  width: 100%;
  // @include border-info((2px solid $borderGrayColor),(4px 4px 4px gray),10px);
  margin: 0px auto 5px;
  // background-color: $mainBlueColor;
  color: aliceblue;
  padding: 10px;
  &__title{
    text-align: center;
    cursor: pointer;
    & .fas{
      font-size: 10px;
    }
  }
  &__box{
    font-size: 10px;
    padding:0 10px;
    width: 90%;
    @include border-info((1px solid $borderGrayColor),(1px 1px 1px gray),5px);
    background-color: white;
    margin: 10px auto;
    text-align: center;
    // overflow: scroll;
    & .fas{
      font-size: 10px;
    }
    &__num{
      text-align: center;
    }
    &:hover{
      background-color:$hoverGreenColor;
    }


  }
}
div.ranking-stage{
  position: relative;
  top:40px;
  -webkit-perspective: 500;
  div.ranking-cube{
      @include ele-size(200px,250px);
      position: relative;
      margin: 0 auto;
      -webkit-transform-style:preserve-3d;
      -webkit-transition:all 1s;
      // animation: cuberotator 180s infinite alternate;
      // &:active{
      //   -webkit-transform: rotateY(-90deg);
      // }
      div.cube-element{
          @include ele-size(200px,250px);
          // border: 1px solid $borderGrayColor;
          @include border-info((2px solid $borderGrayColor),(0px 0px 0px gray),5px);
          box-sizing: border-box;
          text-align: center;
          // line-height: 100px;
          position: absolute;
          // background-color: rgba(175, 247, 213, 0.5);
          background-color: $mainBlueColor;
          font-size: 10px;
          
      }
      div.front{
          top: 0;
          left: 0;
          -webkit-transform: translateZ(100px);
      }
      div.back{
          top: 0;
          left: 0;
          -webkit-transform: translateZ(-100px) rotateY(180deg);
      }
      div.left{
          top: 0;
          left: 100px;
          -webkit-transform:rotateY(90deg);

      }
      div.right{
          top: 0;
          right: 100px;
          -webkit-transform:rotateY(-90deg);
      }
      div.top{
          height: 200px;
          top: 150px;
          left: 0;
          -webkit-transform:rotateX(90deg) rotateY(180deg);
      }
      div.bottom{
          height: 200px;
          bottom: 150px;
          left: 0;
          -webkit-transform:rotateX(-90deg) rotateY(180deg);
      }
  }
}
