.search{
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.search__icon{
  display:inline;
  & .fas{
    color:$borderGrayColor;
  }
}
.search__box{
  // width: 30%;
}
.search__input__box{
  width: 90%;
  display:inline-block;
    // padding-right: 200px;
}
.search__input{
  display:inline-block;
  // padding-right: 200px;
}
.search-select{
  width: 45%;
  display:inline-block;
}