<div class="theme">
  <p>Solve Error DateBase(仮)</p>
    <div class="stage">
      <div class="cube">
          <div class="front">
            <a href="#">Ruby</a>
          </div>
          <div class="back">
            <a href="#">Rails</a>
          </div>
          <div class="left">
            <a href="#">HTML</a>
          </div>
          <div class="right">
            <a href="#">CSS</a>
          </div>
          <div class="top">
            <a href="#">Javascript</a>
          </div>
          <div class="bottom">
            <a href="#">jQuery</a>
          </div>
      </div>
  </div>
</div>
<div class="contents">

  <div class="contents__left">
    <div class="categories">
      <p>Categories</p>
      <div class="category">
        <a href="#">Ruby</a>
      </div>
      <div class="category">
        <a href="#">Rails</a>
      </div>
      <div class="category">
        <a href="#">HTML</a>
      </div>
      <div class="category">
        <a href="#">CSS</a>
      </div>
      <div class="category">
        <a href="#">Javascript</a>
      </div>
      <div class="category">
        <a href="#">jQuery</a>
      </div>
    </div>
  </div>

  <div class="contents__center">
    <div class="posts">
      <div class="post">
        <p>aaaaaaaaaaaaaaa</p>
        <p>bbbbbbbbbbbbbbbb</p>
        <p>cccccccccccccccc</p>
      </div>
      <div class="post">
        <p>aaaaaaaaaaaaaaa</p>
        <p>bbbbbbbbbbbbbbbb</p>
        <p>cccccccccccccccc</p>
      </div>
      <div class="post">
        <p>aaaaaaaaaaaaaaa</p>
        <p>bbbbbbbbbbbbbbbb</p>
        <p>cccccccccccccccc</p>
      </div>
    </div>
  </div>

  <div class="contents__right">
    <div class="user">
      <div class="user__avater">
        <%# <img src="app/assets/images/avater.jpg" class="avater"> %>
      </div> 
      <div class="user__name">
       ユーザー名：name
      </div> 
      <div class="user__info">
        <p>aaaaaaaaa</p>
      </div> 
      <div class="user__log">
        <a href="#" class="user__log__in button">ログイン</a>
        <a href="#" class="user__log__out button">ログアウト</a>
      </div> 
    </div> 
    <div class="news">
    </div>
  </div>

</div>