<div class="main-contents">
  <div  class="subject">
    <p>
    <%= icon('fas', 'newspaper')%> 
    <%= "お知らせ" %>
    </p>
  </div>
  <div class="message">
    <p>〜工事中〜</p>
    <p>〜ちょっと待ってね〜</p>
  </div> 
</div> 


