
  <div class="categories">
    <p>
      <%= icon('fas', 'bars')%>
      カテゴリ一覧
    </p>
    <% categories.each do |category| %>   
      <%= link_to category_posts_path(category) do %>
        <div class="category">
          <%= category.name %>
        </div>
      <% end %>  
    <% end %>  
  </div>
