
  <div class="categories">
    <p>Categories</p>
    <% categories.each do |category| %>   
      <div class="category">
        <%= link_to "#{category.name}", category_posts_path(category) %>
      </div>
    <% end %>  
  </div>
