<div class="theme">
  <%= link_to root_path do %>
    <p>
    <%= image_tag "logo.jpg",class:"theme__logo" %>Erratar
    </p>
  <% end %>  
    <div class="stage">
      <div class="cube">
        <% i = 0 %>  
        <% cube_elements.each do |element| %> 
          <div class="<%= element %>" >
            <%= link_to "#{random_categories[i].name}", category_posts_path(random_categories[i]) %>
          </div>
          <% i += 1 %> 
        <% end %>  
      </div>
  </div>
</div>